services:
  postgres:
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: time-tracking-admin
      POSTGRES_PASSWORD: topsecret
      POSTGRES_DB: timetracker
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  keycloak:
    image: quay.io/keycloak/keycloak:26.4
    command: start-dev --import-realm
    environment:
      KC_DB: dev-file
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: secret
      KEYCLOAK_EXTRA_ARGS: --import-realm
    ports:
      - "8080:8080"
    volumes:
      - ./config:/opt/keycloak/data/import

volumes:
  postgres_data:
    driver: local