spring:
  application:
    name: time-tracking-app
  datasource:
    url: jdbc:postgresql://localhost:5432/timetracker
    username: time-tracking-admin
    password: topsecret
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/dev
  threads:
    virtual:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 9191