server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
      show-details: when_authorized

spring:
  application:
    name: time-tracking-app
  threads:
    virtual:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        default_schema: timetracker
  flyway:
    enabled: true
    locations: classpath:db/migration
    default-schema: timetracker
    schemas: timetracker
    validate-on-migrate: true
    out-of-order: false
